[Unit]
Description=Process TaskTracker email notifications every two minutes
[Timer]
OnBootSec=2min
OnUnitInactiveSec=2min
RandomizedDelaySec=10
[Install]
WantedBy=timers.target
